<!-- Footer -->
<footer
    class="text-center text-lg-start text-dark mt-auto"
    style="background-color: #eceff1"
>
    <!-- Section: Social media -->
    <section
        class="d-flex justify-content-between p-4 text-white"
        style="background-color: #00704a"
    >
        <!-- Left -->
        <div class="me-5">
            <span>Get connected with yo'self:</span>
        </div>
    </section>

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold">Espress'yo self</h6>
                    <hr
                        class="mb-4 mt-0 d-inline-block mx-auto"
                        style="
                            width: 60px;
                            background-color: #7c4dff;
                            height: 2px;
                        "
                    />
                    <p>
                        Stronger connections, better communities, great coffee
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column 
                <div class="col-lg-9 mx-auto mb-4">
                    <img
                        src="static/splashlogo.png"
                        alt="company logo"
                        width="70%"
                        height="auto"
                    />
                </div>
            </div>
            Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022 Copyright
    </div>
</footer>
