{% extends "layout.html" %} {% block content %} {% for user in users %}
<h2 class="card shadow">{{ user.phonenumber }}</h2>
{% endfor %}
<form method="POST" action="/create">
    <div class="form-group">
        <label for="username">Customer Name</label>
        <input
            type="text"
            class="form-control"
            name="username"
            id="username"
            aria-describedby="helpId"
            placeholder="customer name"
        />
        <small id="helpId" class="form-text text-muted"
            >enter customer name</small
        >
    </div>
    <button type="submit">Submit</button>
</form>
{% endblock %}
