{% block nav %}
<nav class="navbar navbar-expand-lg navbar-green-custom navbar-dark">
    <a class="navbar-brand" href="/">Espress'yo self</a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Create Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/processing">In Progress Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/complete">Completed Orders</a>
            </li>
        </ul>
    </div>
</nav>

{% endblock %}
