{% block nav %}
<nav
    class="py-3 navbar navbar-expand-lg navbar-green-custom navbar-dark shadow"
>
    <div class="container-fluid">
        <a class="pl-2 navbar-brand mb-0 h1" href="/">Espress'yo self</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Create Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/processing"
                        >In Progress Orders</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/complete">Completed Orders</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% endblock %}
